apiVersion: v1
kind: Service
metadata:
  name: etcd-cluster
  labels:
    app: etcd
    app.kubernetes.io/name: etcd
spec:
  clusterIP: None
  selector:
    app: etcd
  ports:
    - name: client
      port: 2379
      targetPort: 2379
      protocol: TCP
