apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: etcd-cluster
  labels:
    app: etcd
    app.kubernetes.io/name: etcd
spec:
  serviceName: etcd-cluster
  replicas: 1
  selector:
    matchLabels:
      app: etcd
  template:
    metadata:
      labels:
        app: etcd
        app.kubernetes.io/name: etcd
    spec:
      containers:
        - name: etcd
          image: quay.io/coreos/etcd:v3.5.0
          imagePullPolicy: IfNotPresent
          command:
            - /usr/local/bin/etcd
          args:
            - --name=$(POD_NAME)
            - --data-dir=/etcd-data
            - --advertise-client-urls=http://$(POD_NAME).etcd-cluster.$(POD_NAMESPACE).svc.cluster.local:2379
            - --listen-client-urls=http://0.0.0.0:2379
            - --initial-advertise-peer-urls=http://$(POD_NAME).etcd-cluster.$(POD_NAMESPACE).svc.cluster.local:2380
            - --listen-peer-urls=http://0.0.0.0:2380
            - --initial-cluster=etcd-cluster-0=http://etcd-cluster-0.etcd-cluster.$(POD_NAMESPACE).svc.cluster.local:2380
            - --initial-cluster-state=new
          env:
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
          ports:
            - name: client
              containerPort: 2379
              protocol: TCP
            - name: peer
              containerPort: 2380
              protocol: TCP
          readinessProbe:
            tcpSocket:
              port: client
            initialDelaySeconds: 5
            periodSeconds: 5
          livenessProbe:
            tcpSocket:
              port: client
            initialDelaySeconds: 10
            periodSeconds: 10
          volumeMounts:
            - name: etcd-data
              mountPath: /etcd-data
      volumes:
        - name: etcd-data
          emptyDir: {}
